.invisible{
    visibility: hidden;
    background-color: blue;
}

.reverse-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rps-button{
    height: 100px;
    width: 100px;
    display: relative;
}

.rps-button > img {
    width: 100%;
}

.rps-button > img:hover{
    filter:
        contrast(1000%)
        /* black to white */
        invert(76%)
        /* white to off-white */
        sepia(100%)
        /* off-white to yellow */
        saturate(10000%)
        /* do whatever you want with yellow */
        hue-rotate(-40deg); ;
}