body{
    font-family: 'Francois One', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    background-color: #30BCED;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

}

form{
    display: inline-flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    margin: 0.5em 0;
}

form > input{
    font-size: 1em;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

form > button{
    font-size: 0.75em;
    padding: 0.25em 0.5em;
    font-family: 'Francois One', sans-serif;
    background-color: rgb(248, 78, 59);
    color: white;
    transition: all 1s;
}

form > button:hover{
    transition: all 1s;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.invisible{
    visibility: hidden;
    background-color: blue;
}

.reverse-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
}

.player{
    border: 3px groove #008DBF;
    box-sizing: border-box;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: ghostwhite;
}

.rps-button{
    height: 100px;
    width: 100px;
    display: relative;
}

.rps-button > img {
    width: 100%;
}

.button-active > img:hover{
    filter:
        contrast(1000%)
        /* black to white */
        invert(76%)
        /* white to off-white */
        sepia(100%)
        /* off-white to yellow */
        saturate(10000%)
        /* do whatever you want with yellow */
        hue-rotate(-40deg); ;
}

.clicked{
    filter:
    contrast(1000%)
    /* black to white */
    invert(76%)
    /* white to off-white */
    sepia(100%)
    /* off-white to yellow */
    saturate(10000%)
    /* do whatever you want with yellow */
    hue-rotate(-40deg); ;
}

.name{
    font-size: 1.75em;
    margin: 0.5em;
}

h2{
    text-align: center;
    font-size: 2.5em;
}

h3{
    margin: 0.5em 0;
}

#results{
    width: 40%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 3px groove #30BCED;
    display: grid;
    background: ghostwhite;
}

.final-choice{
    width: 50%;
    height: auto;
    position: absolute;

}

#p1choice{
    left: -500px;
}

#p2choice{
    right: -500px;
}

#banner{
    max-height: 33%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#winner{
    margin: auto;
}

@media screen and (max-width: 415px){
    .rps-button{
        width: 100%;
    }

    .name{
        font-size: 1em;
    }

    .final-choice{
        width: 100%;
    }

    #p2choice{
        bottom: 0;
    }

    #banner{
        top: 30%;
        position: absolute;
    }

    h2{
        font-size: 1.5em;
    }
}